[submodule "vault"]
	path = vault
	url = https://github.com/Harshbhargav45/vault.git
[submodule "Escrow"]
	path = Escrow
	url = https://github.com/Harshbhargav45/Escrow.git
[submodule "nft_marketplace"]
	path = nft_marketplace
	url = https://github.com/Harshbhargav45/nft_markeplace.git
[submodule "rust-projects"]
	path = rust-projects
	url = https://github.com/Harshbhargav45/rust-projects.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/Harshbhargav45/rustlings1.git
[submodule "token_mint"]
	path = token_mint
	url = https://github.com/Harshbhargav45/token_mint.git
[submodule "dragonball-nfts"]
	path = dragonball-nfts
	url = https://github.com/Harshbhargav45/dragonball-nfts.git
[submodule "Ackee"]
	path = Ackee
	url = https://github.com/Harshbhargav45/Ackee.git
[submodule "adv_task1"]
	path = adv_task1
	url = https://github.com/Harshbhargav45/adv_task1.git
[submodule "poke-chess"]
	path = poke-chess
	url = https://github.com/Harshbhargav45/poke-chess.git
